.products__search {
    display: flex;
    justify-content: flex-end;
    padding: 100px 40px 40px;
}

.search__input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    margin-left: 10px;
    width: 200px;
}

.search__block {
    border: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
}



