.favourites {
    padding-bottom: 150px;
}

.products__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__top_title {
    padding: 60px;
    font-size: 30px;
}