html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

body {
  color: #000;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

a {
text-decoration: none;
color: inherit;
}


ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}


.title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

.section__content_descr {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}

.section__decor {
  position: relative;
}

.section__decor::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../../public/section-decor.png);
  width: 22px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__decor::after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7B6152;
  width: 108%;
  height: 1px;
}

.section__inner {
  display: grid;
  grid-template-columns: 450px auto;
}

.products__content {
  gap: 50px 30px
}

.products__item {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.products__item_img {
  width: 274px;
  height: 310px;
  margin-bottom: 8px;
}

.products__item_title {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Yeseva One', serif;
  font-weight: 600;
}

.products__item_text {
  margin-bottom: 27px;
  font-size: 12px;
}

.products__item_price {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: 'Yeseva One', serif;
  font-weight: 600;
}

/* Атомарные классы*/
.pb_150 {
  padding-bottom: 150px;
}

.pt_150 {
  padding-top: 150px;
}