@import url( https://fonts.googleapis.com/css2?family=Comfortaa&family=Yeseva+One&display=swap);

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

body {
  color: #000;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

a {
text-decoration: none;
color: inherit;
}

button, input {
  font-family: 'Comfortaa', sans-serif;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.button {
  padding: 18px 54px;
  background-color: #FFBD59;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out;
}

.button:hover {
  background-color: rgba(255, 189, 89, 0.9);
}

.button:active {
  background-color: rgba(255, 189, 89, 0.8);
}


.title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Навигация */
.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list_link {
  text-transform: uppercase;
  transition: opacity 500ms ease;
}

.menu__list_link:hover {
  opacity: 0.5;
}

.section__content_descr {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}

.section__inner {
  display: grid;
  grid-template-columns: 450px auto;
  gap: 20px;
}

.products__content {
  gap: 50px 30px
}

.products__item {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.products__item_title {   
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
}

.products__item_text {
  margin-bottom: 27px;
  font-size: 12px;
}

.products__item_img {
  margin-bottom: 8px;
}

.btn_icon {
  position: relative;
  border-radius: 50%;
  background: transparent;
  padding: 12px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
}

.btn_icon:hover {
  opacity: 0.5;
}

.products_inner {
  display: flex;
  padding-bottom: 100px;
  flex-wrap: wrap;
  justify-content: flex-start
}

/* Атомарные классы*/
.pb_150 {
  padding-bottom: 150px;
}

.pt_150 {
  padding-top: 150px;
}


/* Адаптив */
@media (max-width: 1000px) {
  .container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  }

  .section__inner {
    grid-template-columns: 220px auto;
    gap: 0 10px;
  }

  .products__content {
    gap: 20px
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 30px;
  }

  .section__inner {
    grid-template-columns: 200px auto;
    gap: 0 30px;
  }

  .products__content {
    gap: 30px 16px
  }
}

@media (max-width: 768px) {
  body {
      font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .products__item {
    width: 200px;
  }

  .products__item_img {
    width: 200px;
    height: 236px;
    margin-bottom: 6px;
  }

  .button {
    font-size: 12px;
    padding: 10px 26px;
  }

  .products__item_title {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .products__item_text {
    font-size: 8px;
    margin-bottom: 18px;
  }

  .section__inner {
    grid-template-columns: 200px auto;
  }
}

@media (max-width: 640px) {
  .container {
      padding-left: 10px;
      padding-right: 10px;
  }

  .header__menu_list {
    width: 153px;
    background-color: #7B6152;
    color: #FFF8F3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
    z-index: 1;
  }

.header__menu_list.menu-open {
    transform: translateY(0%);
  }

  .section__inner {
    display: block;
  }

.section__descr {
    margin-bottom: 30px;
    text-align: center;
  }
}