.main {
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top {
    padding-top: 40px;
    padding-bottom: 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    width: 370px;
    padding: 150px 0 250px;
}

.top__title {
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 400;
}

.top__text {
    margin-bottom: 48px;
}

.top__btn {
    padding: 18px 54px;
    background: #FFBD59;
    font-size: 14px;
    font-weight: 600;
}

.top__img {
    position: absolute;
    top: 0;
    left: 240px;
}

/* Этапы создания свечей */
.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

/* Адаптив */
@media (max-width: 1000px) {
    .top__content {
        width: 333px;
        padding: 95px 0 70px;
    }

    .top__img_l {
        width: 655px;
        height: 423px;
    }

    .top__img {
        left: 300px;
    }

    .section__text {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .top__title {
        margin-bottom: 30px;
    }
}