.products__item_card {
    border: 1px solid #f3f3f3;
    padding: 25px;
    width: 240px;
    border-radius: 15px;
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
}

.products__item_card:hover {
    box-shadow: 0 20px 35px rgba(0,0,0,0.06);
    transform: translateY(-5px);
}

.products__item_img {
    margin-bottom: 8px;
    border-radius: 6px;
    object-fit: cover;
  }

.products__item_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__item_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.products__item_info {
    display: flex;
    flex-direction: column;
}

.products__item_info span {
    opacity: 0.7;
    font-size: 12px;
}
  
.products__item_price {
    font-size: 14px;
    font-family: 'Yeseva One', serif;
    font-weight: 400;
}

.btn_icon_add {
    height: 32px;
    width: 32px;
    border: 1px solid #d7d6d6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms ease;
}

.btn_icon_add:hover {
    opacity: 0.5;
}

.favorite {
    padding: 5px;
}

/* Адаптив */

@media (max-width: 768px) {
    .products__item_price {
        font-size: 12px;
        margin-bottom: 7px;
    }
}
