.menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span {
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}

.header {
    background-color: #FFF8F3;
    border-bottom: 1px solid #eaeaea;
}

.header__inner {
    padding-bottom: 2px;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    gap: 10px;
}

.cart_count {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 10px;
    background: #9b9b9b;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}