.menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span {
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}

.header {
    background-color: #FFF8F3;
}

.header__inner {
    padding-bottom: 2px;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list_link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    background-image: url(../../../public/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}