.footer {
    padding: 50px 0;
    background-color: #FFF8F3;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.footer__phone {
    display: flex;
    align-items: center;
    transition: opacity 500ms ease;
}

.footer__phone:hover,
.email:hover {
    opacity: 0.5;
}

.email {
    display: flex;
    align-items: center;
    margin: 17px 0;
    transition: opacity 500ms ease;
}

.email img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.footer__social_contacts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__social_link img {
    width: 22px;
    height: 22px;
    transition: opacity 500ms ease;
}

.footer__social_link img:hover {
    opacity: 0.5;
}

/* Адаптив */
@media (max-width: 900px) {
    .title {
        font-size: 30px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-top: 15px;
    }

    .footer__phone::before {
        left: 348px;
        top: 10px;
        background-size: cover;
    }

    .email::before {
        left: 302px;
        top: -3px;
        background-size: cover;
    }

    .footer__social,
    .footer__social_contacts {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer__phone img {
        width: 14px;
        height: 14px;
        background-size: cover;
    }

    .email img {
        width: 14px;
        height: 14px;
        background-size: cover;
    }


    .footer__social_link img {
        width: 18px;
        height: 18px;
    }

    .footer__social_contacts {
        gap: 8px;
    }
}